.section {
    display: flex;
    justify-content: space-between;
}
.left {
    margin-left: 2%;
}
.right {
    margin-right: 3%;
    width: 25%;
}
.left p {
    margin:17px;
    font-size: 32px;
    font-weight: 500;
}