.main {
    display:flex;
    height: 42%;
}
.user {
    margin-top: 10%;
}
.user p {
    margin: 0px
}
.logInMenu {
    position:absolute;
    margin-top:  2%;
    margin-left: 163px;
    width: 7%;
    height: 10%;

}
.logInMenu button {
    background: none;
    border: none;
    width: 100%;
    height: inherit;
}
.logInMenu button svg{
    width: 30%;
    height: 20px;
    margin-left: 65%;
}
.img {
    margin-top: 2%;
    width:40%;
}
.img img {
    margin-left: 15%;
    width: 70%;
    border-radius: 55%;
}